#about {
    background: var(--corRealce);
    display: flex;
    flex-direction: column;
}

#about header h2 {
    margin-bottom: 3rem;
    font-family: var(--fonteTitulo);
}

#about .content p {
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 1.8;
}