.homeLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    /*centralizando conteúdo*/
    width: 50rem;
    height: 2rem;
    padding: 2rem;

    /*fixa nav no topo*/
    position: fixed;
    top: 0;
    /*desloca nav em 50% do seu tamanho no eixo x, após seu limite esquerdo estar no centro do 50%, centralizando-o no meio da tela*/
    left: 50%;
    transform: translateX(-50%);
    z-index: -50;
}

.logo {
    width: 40%;
    height: auto;
    position: absolute;
    top: 3rem;
    left: 20;
    z-index: 5;
}

.openMenu {
    position: absolute;
    top: 2.6rem;
    right: 1.5rem;
}

.openMenu img {
    width: 120%;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/*classes utilizadas com js*/

.scroll {
    position: fixed;
    top: 0;
    background: var(--corPrincipal);
    padding: 3.5rem;
}

.menu, 
.closeMenu {
    opacity: 0;
    visibility: hidden;
}

.menuExpanded {
    overflow: hidden;
}

#navigation {
    z-index: 100;
}

/*seleciona todos os elementos filhos diretos de 'menuExpanded', exceto o elemento com #navigation*/
.menuExpanded > *:not(#navigation) {
    display: none;
}

.menuExpanded .menu, 
.menuExpanded .closeMenu {
    opacity: 1;
    visibility: visible;
}

.menuExpanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--corPrincipal);

    width: 100vw;
    height: 100vh;

    padding-top: 6rem;

    transition: transform 300ms;
    transform: translateY(0);
}

.menu {
    transform: translateY(100%);
}

.menuExpanded .homeLinks {
    width: 100vw;
}

.listaLinks {
    margin-top: 5rem;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;

    font-weight: 800;
    font-size: 2rem;
    line-height: 1.2;
}

.listaLinks a {
    color: var(--corDestaques);
    text-decoration: none;
}

.menuExpanded .homeLinks .menu .listaLinks a {
    color: var(--corRealce) !important;
}

.socialLinks {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.menuExpanded .logo {
    opacity: 0;
    visibility: hidden;
}

.menuExpanded .closeMenu {
    position: relative;
    z-index: 900;
    top: auto;
    left: auto;
}

.menuPrimaryButton {
    width: 50%;
    height: 3.5rem;
    margin: 4rem auto 3rem auto;
    border: none;
    border-radius: 3rem;
    
    background: var(--corDestaques);
    color: var(--corSecundaria);
    
    font-family: var(--fontePrincipal);
    font-size: 70%;
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuPrimaryButton:hover {
    filter: brightness(1.2);
    transform: scale(1.02);
    transition: transform 200ms;
}

/*main content*/

.containerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    /*centralizando conteúdo*/
    width: 50rem;
    flex: 1;
    margin: 10rem auto 0;
}



.welcomeMessage, 
.homeTitle {
    font-family: var(--fonteTitulo);
}

.welcomeMessage {
    color: var(--corPrincipal);
    font-weight: 700;
    font-size: 120%;
}

.homeTitle {
    line-height: 1.6;
    margin: 4rem 0;
    color: var(--corTextoSecundaria);
}

.homeText {
    line-height: 1.8;
    color: var(--corTextoSecundaria);
    font-size: 115%;
    width: 90%;
}

.primaryButton {
    width: 35%;
    height: 5rem;
    margin-top: 4rem;
    border: none;
    border-radius: 3rem;

    background: var(--corPrincipal);
    color: var(--corRealce);
    
    font-family: var(--fontePrincipal);
    font-size: 1.4rem;
    font-weight: 600;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 200ms;
}

.primaryButton:hover {
    background: var(--corSecundaria);
    transform: scale(1.02);
    transition: transform 200ms;
}

.primaryButton img {
    margin-right: 1rem;
}

.homeImage {
    margin: 2rem auto;
    width: 60%;
    height: auto;
}

.stats {
    font-size: 125%;
    background-color: var(--corSombra);
    padding: 2rem 4rem;
    border-radius: 6rem;
    /*valor cor box-shadow var(--corTextoSecundaria) em rgb*/
    box-shadow: 0 0 10px rgba(17, 39, 11, 0.3);
}

.homeNumbers {
    color: var(--corSecundaria);
    margin: 0.5rem 0;
    font-weight: 800;
}

.homeNumbersText {
    color: var(--corPrincipal);
    font-weight: 600;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--corPrincipal);
    margin: 0;

    padding-block: 3rem;
    
    text-align: left;
    color: var(--corRealce);
}

.footerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-left: 4rem;
}

footer img {
    width: 45%;
}

footer p {
    line-height: 1.5;
}

footer li img {
    width: 250%;
}

#backToStart {
    position: fixed;
    bottom: 0.8rem;
    right: 2rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
}

#backToStart.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}