.homeLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    /*centralizando conteúdo*/
    width: 50rem;
    
    padding: 2rem;

    /*fixa nav no topo*/
    position: fixed;
    top: 0;
    /*desloca nav em 50% do seu tamanho no eixo x, após seu limite esquerdo estar no centro do 50%, centralizando-o no meio da tela*/
    left: 50%;
    transform: translateX(-50%);
}

.scroll {
    position: fixed;
    top: 0;
    background: var(--corRealce);
    width: 100vw;
    padding: 4rem;
}

.logo {
    width: 40%;
    height: auto;
}

.barra {
    width: 150%;
    height: auto;
}

.containerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    /*centralizando conteúdo*/
    width: 50rem;
    flex: 1;
    margin: 10rem auto;
}

.welcomeMessage, .homeTitle {
    font-family: var(--fonteTitulo);
}

.welcomeMessage {
    color: var(--corPrincipal);
    font-weight: 700;
    font-size: 120%;
}

.homeTitle {
    line-height: 1.6;
    margin: 4rem 0;
    color: var(--corTextoSecundaria);
}

.homeText {
    line-height: 1.8;
    color: var(--corTextoSecundaria);
    font-size: 115%;
    width: 90%;
}

.primaryButton {
    width: 35%;
    height: 5rem;
    margin-top: 4rem;
    border: none;
    border-radius: 3rem;

    background: var(--corPrincipal);
    color: var(--corRealce);
    
    font-family: var(--fontePrincipal);
    font-size: 1.4rem;
    font-weight: 600;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background color 200ms;
}

.primaryButton:hover {
    background: var(--corSecundaria);
    transform: scale(1.02);
    transition: transform 200ms;
}

.primaryButton img {
    margin-right: 1rem;
}

.homeImage {
    margin: 2rem auto;
    width: 60%;
    height: auto;
}

.stats {
    font-size: 125%;
    background-color: var(--corSombra);
    padding: 2rem;
    border-radius: 6rem;
    /*valor cor box-shadow var(--corTextoSecundaria) em rgb*/
    box-shadow: 0 0 10px rgba(17, 39, 11, 0.3);
    margin-bottom: 2rem;
}

.homeNumbers {
    color: var(--corSecundaria);
    margin: 0.5rem 0;
    font-weight: 800;
}

.homeNumbersText {
    color: var(--corPrincipal);
    font-weight: 600;
    margin-bottom: 1rem;
}