/*garantindo responsividade para o footer sem quebrar o layout*/
@media (min-width: 790px) {
    footer {
        width: 100vw;
    }

    .footerDiv {
        width: 60%;
    }
}

@media (min-width: 1024px) {

    section {
        padding-block: 8rem;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    /*reset*/
    nav#navigation .homeLinks * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background: initial;
        width: initial;
        height: initial;
    }

    nav#navigation .closeMenu,
    nav#navigation .openMenu,
    nav#navigation .socialLinks {
        display: none;
    }

    nav#navigation .anchorLogo {
        width: 30%;
    }

    nav#navigation .logo {
        width: 75%;
    }

    nav#navigation .homeLinks {
        height: 8rem;
        width: 100vw;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    } 

    nav#navigation .menuPrimaryButton {
        margin-right: 4rem;
    }
    
    .containerMobile, .homeLinks {
        width: min(1120px, 100%);
    }


    /*:nth-child(1) é um seletor de pseudo-classe que seleciona o primeiro elemento filho de um elemento pai*/
    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 1.5rem;
    }

    nav#navigation .menu li a {
        color: var(--corPrincipal);
        font-size: 120%;
        font-family: var(--fonteTitulo);
        opacity: 0.8;

        transition: opacity 300ms;
    }
    
    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 600;
    }

    /*adicionar conteúdo extra após um elemento, sem precisar alterar o HTML*/
    nav#navigation .menu li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--corPrincipal);

        position: relative;
        bottom: -0.8rem;
        left: -0.5rem;

        transition: width 200ms;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after {
        width: 100%;
        padding-inline: 0.5rem;
    }

    nav#navigation.scroll .menu li a::after {
        background: var(--corDestaques);
    }

    nav#navigation .menu .menuPrimaryButton {
        padding: 0.8rem 1.2rem;
        border: 2px solid var(--corPrincipal);
        border-radius: 3rem;
    
        background: var(--corDestaques);
        color: var(--corPrincipal);
    
        font-family: var(--fontePrincipal);
        font-weight: 600;
        text-transform: uppercase;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerMobile #home {
        display: grid;
        grid-template-columns: 60rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';

        width: 140%;
    }

    .containerMobile #home .homeImage {
        height: 95%;
        width: 95%;
    }

    #home .col-a {
        text-align: left;
        align-self: center;
    }

    #home .col-a .contentHome {
        display: block;
        text-align: left;
    }

    #home .stats {
        margin-top: 6rem;
        grid-area: C;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 6rem;
    }

    /*seleciona .stat irmãos adjacentes entre si*/
    #home .stats .stat + .stat {
        border-left: 1px solid var(--corPrincipal);
    }

    #home .stat {
        flex: 1;
    }

    #contact header h2 {
        margin-top: 2rem
    }

    #about {
        width: 100vw;
    }

    
    #services h2,
    #about h2,
    #contact h2 {
        font-size: 200%;
    }
    
    #services h2 {
        width: 40rem;
        margin-inline: auto;
    }

    #services .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    #services .card {
        width: 30%;
        margin: 0;
        flex-grow: 1;
    }
    
    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
        
        padding-bottom: 14rem;
    }

    #about .col-a {
        align-self: center;
    }
    
    #about .content p {
        margin: 0 8rem;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
        gap: 12rem;
        padding-bottom: 0;
    }

    #contact .col-a {
        align-self: center;
    }

    .footerDiv {
        margin-left: 7rem;
    }

    .footerDiv .logoFooter {
        width: 30%;
    }
}