@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPrincipal: #598B2C;
    --corSecundaria: #3C5A14;
    --corTexto: #0F0F0F;
    --corTextoSecundaria:  #11270B;
    --corSombra: #DDFFBB;
    --corDestaques: #D3EFBD;
    --corRealce: #FEFAE0;

    --fontePrincipal: 'Nunito', sans-serif;
    --fonteTitulo: 'Krona One', sans-serif;
}

body {
    height: 100vh;
    color: var(--corTexto);
    background: var(--corRealce);
    
    font-family: var(--fontePrincipal);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
}

@media (max-width: 1020px) {
    body {
        font-size: 80%;
    }
}