@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corTexto: #0F0F0F;
    --corTextoSecundaria:  #11270B;
    --corPrincipal: #598B2C;
    --corSecundaria: #3C5A14;
    --corSombra: #DDFFBB;
    --corDestaques: #D3EFBD;
    --corRealce: #FEFAE0;

    --fontePrincipal: 'Nunito', sans-serif;
    --fonteTitulo: 'Krona One', sans-serif;
}

body {
    height: 100vh;
    color: var(--corTexto);
    background: var(--corDestaques);
    
    font-family: var(--fontePrincipal);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;

    overflow: overlay;


}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-block: 18rem;
}

section header h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: var(--corSecundaria);
    margin-bottom: 1.6rem;
}

section header h2 {
    color: var(--corTextoSecundaria);
    font-size: 2rem;
    line-height: 1.5;
}